- answers = VocabTerm.select("id, english").where(:category => game.categories).sample(3)
- answers << term
%p= "Question #{number} of 10"
#question
  %h1= term.korean
  %table.audio_wrapper
    %tr
      %td
        = audio_tag(term.audio_source, :auto_play=>false, :controls=>true, :class=>"sound")
  %h3= term.romanized if game.is_easy?
#answers
  %ul
    - answers.shuffle.each do |answer|
      %li{:id=>answer.id}= answer.english
.next_question_button
  = button_to "Next Question", get_question_path(game, number.to_i + 1), :method=>:get, :remote=>true
