<p id="notice"><%= notice %></p>
 
<p>
  <b>English:</b>
  <%= @vocab_term.english %>
</p>
 
<p>
  <b>Korean:</b>
  <%= @vocab_term.korean %>
</p>
 
<p>
  <b>Romanized:</b>
  <%= @vocab_term.romanized %>
</p>

<p>
  <b>Category:</b>
  <%= @vocab_term.category %>
</p>

<p>
  <b>Audio Source:</b>
  <%= @vocab_term.audio_source %>
</p>

<p>
	<%= audio_tag(@vocab_term.audio_source, :auto_play=>false, :controls=>true)%>
</p>
<%= link_to "Google Translate Pronunciation", "http://translate.google.com/translate_tts?tl=ko&q="+@vocab_term.korean %>
<br/>
<%= link_to 'Edit', edit_vocab_term_path(@vocab_term) %> |
<%= link_to 'Back', vocab_terms_path %>